GamepadController.json
[{"id":"18b76d1f.3eb303","type":"subflow","name":"Gamepad controller","info":"","category":"","in":[],"out":[{"x":1394.000020980835,"y":136,"wires":[{"id":"d7fa13bf.94589","port":0}]},{"x":1395.000020980835,"y":194.00000190734863,"wires":[{"id":"f101185c.0a6d58","port":0}]},{"x":1398.0000038146973,"y":250,"wires":[{"id":"a570c5e0.1195f8","port":0}]},{"x":1399.000020980835,"y":298.00000381469727,"wires":[{"id":"b3a33c67.2c09c","port":0}]},{"x":1404.000020980835,"y":358.0000057220459,"wires":[{"id":"8f765ff3.cf83","port":0}]},{"x":1403.000020980835,"y":414.00000762939453,"wires":[{"id":"b803f727.403188","port":0}]},{"x":1419.000078201294,"y":508.33337783813477,"wires":[{"id":"a31de220.bdde9","port":0}]},{"x":1416.0000686645508,"y":558.3333702087402,"wires":[{"id":"baa47d5.d22c08","port":0}]},{"x":1419.0000820159912,"y":618.3333797454834,"wires":[{"id":"3c5b072a.9d91f8","port":0}]},{"x":1416.0000648498535,"y":680.3333702087402,"wires":[{"id":"41dfe4ed.1b9fdc","port":0}]},{"x":1411.0000631809235,"y":734.3333702087402,"wires":[{"id":"40682e96.38682","port":0}]},{"x":1410.0000648498535,"y":778.3333702087402,"wires":[{"id":"6a3f5d1f.b5aa34","port":0}]},{"x":1407.0000820159912,"y":830.3333835601807,"wires":[{"id":"49f7c53d.aaa1fc","port":0}]},{"x":1410.0000820159912,"y":882.3333835601807,"wires":[{"id":"bdb2bf30.0e006","port":0}]},{"x":1403.0000667572021,"y":930.3333702087402,"wires":[{"id":"76be2506.7f8c1c","port":0}]},{"x":1408.0000667572021,"y":980.3333702087402,"wires":[{"id":"44b2b2f8.b1e82c","port":0}]},{"x":1411.0000629425049,"y":1022.3333702087402,"wires":[{"id":"ea6fc9b0.dc1ed8","port":0}]},{"x":1422.0000638961792,"y":1070.3333702087402,"wires":[{"id":"4af69bc9.0c7914","port":0}]},{"x":1414.0001201629639,"y":1120.9999656677246,"wires":[{"id":"9d83e87a.9850c8","port":0}]}],"env":[{"name":"mac_address","type":"str","value":" E8:78:28:81:63:25"}],"color":"#FFAAAA","outputLabels":["h1","v1","h2","v2","h3","v3","a","b","x","y","rb","lb","rt","lt","sl","st","rj","lj","ho"],"icon":"font-awesome/fa-gamepad"},{"id":"6f9b2c98.767194","type":"exec","z":"18b76d1f.3eb303","command":"jstest /dev/input/js0","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":779.0000381469727,"y":306.99999237060547,"wires":[["34aec60.b54ef3a","b06d297.78023d8","3647ffc4.1fff2"],[],[]]},{"id":"430d9a67.bf1864","type":"inject","z":"18b76d1f.3eb303","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":519.7499694824219,"y":320.9999780654907,"wires":[["6f9b2c98.767194"]]},{"id":"34aec60.b54ef3a","type":"function","z":"18b76d1f.3eb303","name":"Split axes","func":"var str = msg.payload;\nvar axes = str.slice(str.indexOf(\"Axes\")+ 5, str.indexOf(\"Buttons\"));\naxes = axes.trimLeft();\n//var axesNum = 0;\nvar axesValue = [];\nvar temp = axes;\nvar count = [];\nvar countNum = 0;\nfor(i = 0; i <= axes.length; i++)\n{\n    if(!isNaN(parseInt(axes[i])) && axes[i+1] === ' ' && axes[i+2] === ' ' && !isNaN(parseInt(axes[i+3])))\n    {\n        count[countNum] = i+1;\n        countNum++;\n    }\n}\nfor(i = 0; i <= countNum; i++)\n{\n    temp = temp.slice(temp.indexOf(\":\") + 1);\n    temp = temp.trimLeft();\n    var value = temp.slice(0, temp.indexOf(\" \"));\n    axesValue[i] = parseInt(value);\n}\n\nreturn {payload : {h1 : axesValue[0],v1 : axesValue[1],h2 : axesValue[2],v2: axesValue[3],h3 : axesValue[6],v3 : axesValue[7]}};","outputs":1,"noerr":0,"x":886.2499618530273,"y":431.4999580383301,"wires":[["6f170c94.691154","25bc6f78.2eace","d2d0bf88.33ca2","a409a78b.502028","f1f4fb8d.109c98","42d93e17.1953b"]]},{"id":"b06d297.78023d8","type":"function","z":"18b76d1f.3eb303","name":"Split button","func":"var str = msg.payload;\nvar buttons = str.slice(str.indexOf(\"Buttons\")+ 8);\nbuttons = buttons.trimLeft();\n//var buttonsNum = 0;\n\nvar buttonsValue = [];\nvar temp = buttons;\nvar count = [];\nvar countNum = 0;\nfor(i = 0; i <= buttons.length; i++)\n{\n    if((buttons[i] == 'f' || buttons[i] == 'n') && buttons[i+1] === ' ' && buttons[i+2] === ' ' && !isNaN(parseInt(buttons[i+3])))\n    {\n        count[countNum] = i+1;\n        countNum++;\n    }\n    else if((buttons[i] == 'f' || buttons[i] == 'n') && buttons[i+1] === ' ' && !isNaN(parseInt(buttons[i+2])))\n    {\n        count[countNum] = i+1;\n        countNum++;\n    }\n}\nfor(i = 0; i <= countNum; i++)\n{\n    temp = temp.slice(temp.indexOf(\":\") + 1);\n    temp = temp.trimLeft();\n    var value = temp.slice(0, temp.indexOf(\" \"));\n    value = value.trim();\n    if(value == \"off\")\n    {\n        buttonsValue[i] = 0;    \n    }\n    else\n    {\n        buttonsValue[i] = 1; \n    }\n    \n}\nreturn {payload : {a: buttonsValue[0], b: buttonsValue[1], x: buttonsValue[3],y: buttonsValue[4], lb: buttonsValue[6],rb: buttonsValue[7], lt: buttonsValue[8], rt: buttonsValue[9], sl: buttonsValue[10], st: buttonsValue[11], ls: buttonsValue[13], rs: buttonsValue[14], ho: buttonsValue[12]}}","outputs":1,"noerr":0,"x":891.2499160766602,"y":518.4999732971191,"wires":[["a31de220.bdde9","baa47d5.d22c08","3c5b072a.9d91f8","41dfe4ed.1b9fdc","40682e96.38682","6a3f5d1f.b5aa34","49f7c53d.aaa1fc","bdb2bf30.0e006","76be2506.7f8c1c","44b2b2f8.b1e82c","ea6fc9b0.dc1ed8","4af69bc9.0c7914","9d83e87a.9850c8","751266ed.85d068"]]},{"id":"d7fa13bf.94589","type":"range","z":"18b76d1f.3eb303","minin":"-32767","maxin":"32767","minout":"-100","maxout":"100","action":"clamp","round":true,"property":"payload","name":"h1","x":1284.2499198913574,"y":131.49997758865356,"wires":[[]]},{"id":"f101185c.0a6d58","type":"range","z":"18b76d1f.3eb303","minin":"-32767","maxin":"32767","minout":"100","maxout":"-100","action":"clamp","round":true,"property":"payload","name":"v1","x":1269.2499694824219,"y":193.49998092651367,"wires":[[]]},{"id":"6f170c94.691154","type":"change","z":"18b76d1f.3eb303","name":"Joystick 1 horizontal","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.h1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1101.2499160766602,"y":132.49997329711914,"wires":[["d7fa13bf.94589"]]},{"id":"25bc6f78.2eace","type":"change","z":"18b76d1f.3eb303","name":"Joystick 1 vertical","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.v1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1102.2499160766602,"y":187.49997329711914,"wires":[["f101185c.0a6d58"]]},{"id":"a570c5e0.1195f8","type":"range","z":"18b76d1f.3eb303","minin":"-32767","maxin":"32767","minout":"-100","maxout":"100","action":"clamp","round":true,"property":"payload","name":"h2","x":1265.2499160766602,"y":251.49997329711914,"wires":[[]]},{"id":"b3a33c67.2c09c","type":"range","z":"18b76d1f.3eb303","minin":"-32767","maxin":"32767","minout":"100","maxout":"-100","action":"clamp","round":true,"property":"payload","name":"v2","x":1275.2499160766602,"y":302.49997329711914,"wires":[[]]},{"id":"d2d0bf88.33ca2","type":"change","z":"18b76d1f.3eb303","name":"Joystick 2 horizontal","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.h2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1112.2499160766602,"y":246.49997329711914,"wires":[["a570c5e0.1195f8"]]},{"id":"a409a78b.502028","type":"change","z":"18b76d1f.3eb303","name":"Joystick 2 vertical","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.v2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1113.2499160766602,"y":301.49997329711914,"wires":[["b3a33c67.2c09c"]]},{"id":"8f765ff3.cf83","type":"range","z":"18b76d1f.3eb303","minin":"-32767","maxin":"32767","minout":"-100","maxout":"100","action":"clamp","round":true,"property":"payload","name":"h3","x":1282.2499160766602,"y":360.49997329711914,"wires":[[]]},{"id":"b803f727.403188","type":"range","z":"18b76d1f.3eb303","minin":"-32767","maxin":"32767","minout":"100","maxout":"-100","action":"clamp","round":true,"property":"payload","name":"v3","x":1292.2499160766602,"y":411.49997329711914,"wires":[[]]},{"id":"f1f4fb8d.109c98","type":"change","z":"18b76d1f.3eb303","name":"D-Pad horizontal","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.h3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1119.2499160766602,"y":355.49997329711914,"wires":[["8f765ff3.cf83"]]},{"id":"42d93e17.1953b","type":"change","z":"18b76d1f.3eb303","name":"D-Pad  vertical","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.v3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120.2499160766602,"y":410.49997329711914,"wires":[["b803f727.403188"]]},{"id":"a31de220.bdde9","type":"change","z":"18b76d1f.3eb303","name":"A button","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.a","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1104.2499771118164,"y":506.8333435058594,"wires":[[]]},{"id":"baa47d5.d22c08","type":"change","z":"18b76d1f.3eb303","name":"B button","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.b","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1115.2499771118164,"y":561.8333435058594,"wires":[[]]},{"id":"3c5b072a.9d91f8","type":"change","z":"18b76d1f.3eb303","name":"X Button","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.x","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1115.2499771118164,"y":620.8333435058594,"wires":[[]]},{"id":"41dfe4ed.1b9fdc","type":"change","z":"18b76d1f.3eb303","name":"Y Button","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.y","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1112.2499771118164,"y":678.8333806991577,"wires":[[]]},{"id":"fa79ad10.00668","type":"trigger","z":"18b76d1f.3eb303","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"100","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":1209.4166946411133,"y":1157.5000267028809,"wires":[["557cadde.5ff6f4"]]},{"id":"557cadde.5ff6f4","type":"link out","z":"18b76d1f.3eb303","name":"","links":["82901a5b.a80a18"],"x":1354.4167022705078,"y":1155.5000276565552,"wires":[]},{"id":"82901a5b.a80a18","type":"link in","z":"18b76d1f.3eb303","name":"","links":["557cadde.5ff6f4"],"x":648.7499160766602,"y":260.49997329711914,"wires":[["6f9b2c98.767194"]]},{"id":"3647ffc4.1fff2","type":"change","z":"18b76d1f.3eb303","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1247.7499961853027,"y":469.8333501815796,"wires":[["fa79ad10.00668"]]},{"id":"37691108.45f4de","type":"inject","z":"18b76d1f.3eb303","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":992.4168930053711,"y":1163.5000276565552,"wires":[["fa79ad10.00668"]]},{"id":"5bf216b6.5dffb8","type":"exec","z":"18b76d1f.3eb303","command":"bluetoothctl pair","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Pair","x":670.0832748413086,"y":516.666675567627,"wires":[["af0cb675.ec5de8"],[],[]]},{"id":"ce335f45.82a9f","type":"exec","z":"18b76d1f.3eb303","command":"bluetoothctl connect","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Connect","x":656.2499008178711,"y":693.5000038146973,"wires":[[],[],[]]},{"id":"af0cb675.ec5de8","type":"delay","z":"18b76d1f.3eb303","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":631.7499084472656,"y":602.4999694824219,"wires":[["ce335f45.82a9f"]]},{"id":"a5d8f58a.287f18","type":"ui_button","z":"18b76d1f.3eb303","name":"","group":"a12525c.50e40d8","order":1,"width":0,"height":0,"passthru":false,"label":"Mac Address","tooltip":"","color":"","bgcolor":"","icon":"","payload":" E8:78:28:81:63:25","payloadType":"str","topic":"","x":253.24990844726562,"y":513.3571367263794,"wires":[["7522b345.3a341c"]]},{"id":"40682e96.38682","type":"change","z":"18b76d1f.3eb303","name":"right bumper","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.rb","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1117.8499755859375,"y":728.833381652832,"wires":[[]]},{"id":"6a3f5d1f.b5aa34","type":"change","z":"18b76d1f.3eb303","name":"left bumper","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.lb","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1113.8499755859375,"y":783.8333821296692,"wires":[[]]},{"id":"bdb2bf30.0e006","type":"change","z":"18b76d1f.3eb303","name":"left trigger","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.lt","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1115.0000762939453,"y":884.3333835601807,"wires":[[]]},{"id":"49f7c53d.aaa1fc","type":"change","z":"18b76d1f.3eb303","name":"right trigger","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.rt","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1119.0000610351562,"y":832.3333702087402,"wires":[[]]},{"id":"76be2506.7f8c1c","type":"change","z":"18b76d1f.3eb303","name":"select","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1109.0000762939453,"y":928.333384513855,"wires":[[]]},{"id":"44b2b2f8.b1e82c","type":"change","z":"18b76d1f.3eb303","name":"start","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.st","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1115.0000762939453,"y":976.3333850502968,"wires":[[]]},{"id":"ea6fc9b0.dc1ed8","type":"change","z":"18b76d1f.3eb303","name":"right joybutton","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.rs","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1127.0000610351562,"y":1020.3333702087402,"wires":[[]]},{"id":"4af69bc9.0c7914","type":"change","z":"18b76d1f.3eb303","name":"left joybutton","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.ls","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1123.0000762939453,"y":1072.3333835601807,"wires":[[]]},{"id":"9d83e87a.9850c8","type":"change","z":"18b76d1f.3eb303","name":"home","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.ho","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1105.0000610351562,"y":1118.3333702087402,"wires":[[]]},{"id":"7522b345.3a341c","type":"change","z":"18b76d1f.3eb303","name":"Set MAC Address","rules":[{"t":"set","p":"payload","pt":"msg","to":"mac_address","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":459.200008392334,"y":514.0000057220459,"wires":[["5bf216b6.5dffb8","af0cb675.ec5de8"]]},{"id":"751266ed.85d068","type":"debug","z":"18b76d1f.3eb303","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":835.4000015258789,"y":151.00000095367432,"wires":[]},{"id":"a12525c.50e40d8","type":"ui_group","z":"","name":"Mac Address","tab":"f9ec31c8.ce785","order":1,"disp":true,"width":"6","collapse":false},{"id":"f9ec31c8.ce785","type":"ui_tab","z":"","name":"Controller","icon":"dashboard","order":5,"disabled":false,"hidden":false}]