MotorTest_Joystick.json
[{"id":"5844c028.450a5","type":"tab","label":"Controller","disabled":false,"info":""},{"id":"d57b52c3.8176f","type":"exec","z":"5844c028.450a5","command":"jstest /dev/input/js0","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":583.750114440918,"y":225.50003051757812,"wires":[["6fbbd02.1ea753","670dae66.617c4"],[],[]]},{"id":"53127d6e.c97614","type":"inject","z":"5844c028.450a5","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":601.5000686645508,"y":69.50000953674316,"wires":[["d57b52c3.8176f"]]},{"id":"6fbbd02.1ea753","type":"function","z":"5844c028.450a5","name":"Split axes","func":"var str = msg.payload;\nvar axes =str.slice(str.indexOf(\"Axes\")+ 5, str.indexOf(\"Buttons\"));\naxes = axes.trimLeft();\n//varaxesNum = 0;\nvar axesValue = [];\nvar temp = axes;\nvar count = [];\nvar countNum = 0;\nfor(var i= 0; i <= axes.length; i++)\n{\n if(!isNaN(parseInt(axes[i])) && axes[i+1] === ' ' && axes[i+2]=== ' ' && !isNaN(parseInt(axes[i+3])))\n {\n count[countNum] = i+1;\n countNum++;\n}\n}\nfor(var i= 0; i <= countNum; i++)\n{\n temp = temp.slice(temp.indexOf(\":\") + 1);\n temp =temp.trimLeft();\n var value = temp.slice(0, temp.indexOf(\" \"));\n axesValue[i] =parseInt(value);\n}\n\nreturn {payload : {h1 : axesValue[0],v1 : axesValue[1],h2 :axesValue[2],v2: axesValue[3],h3 : axesValue[4],v3 :axesValue[5]}};","outputs":1,"noerr":0,"x":632.0000343322754,"y":374.0000057220459,"wires":[["3a96a2b7.866bbe","f327e002.ae1a8","7714a9d1.ddfe98","1741f4c.69c620b","88faccc7.1af12","6662ac1.57c5d54","7493eb38.c2f8d4"]]},{"id":"670dae66.617c4","type":"function","z":"5844c028.450a5","name":"Split button","func":"var str = msg.payload;\nvar buttons =str.slice(str.indexOf(\"Buttons\")+ 8);\nbuttons = buttons.trimLeft();\n//var buttonsNum = 0;\n\nvar buttonsValue = [];\nvar temp = buttons;\nvar count = [];\nvar countNum = 0;\nfor(var i= 0; i <=buttons.length; i++)\n{\n if((buttons[i] == 'f' || buttons[i] == 'n') && buttons[i+1] === ' ' &&buttons[i+2] === ' ' && !isNaN(parseInt(buttons[i+3])))\n {\n count[countNum] = i+1;\ncountNum++;\n }\n else if((buttons[i] == 'f' || buttons[i] == 'n') && buttons[i+1] === ' ' &&!isNaN(parseInt(buttons[i+2])))\n {\n count[countNum] = i+1;\n countNum++;\n}\n}\nfor(var i= 0; i <= countNum; i++)\n{\n temp = temp.slice(temp.indexOf(\":\") + 1);\n temp =temp.trimLeft();\n var value = temp.slice(0, temp.indexOf(\" \"));\n value = value.trim();\nif(value == \"off\")\n {\n buttonsValue[i] = 0; \n }\n else\n {\n buttonsValue[i] =1; \n }\n \n}\nreturn {payload : {y: buttonsValue[0], b: buttonsValue[1], a: buttonsValue[2], x:buttonsValue[3],y: buttonsValue[4], rb: buttonsValue[5], lt: buttonsValue[6], rt: buttonsValue[7],sl: buttonsValue[8], st: buttonsValue[9], ls: buttonsValue[10], rs: buttonsValue[11], ho:buttonsValue[12]}}","outputs":1,"noerr":0,"x":645,"y":463,"wires":[["3a96a2b7.866bbe","48ebf274.f329dc","a9fe2d2b.62566","6e36351e.d8ff8c","78407f7f.97c8e"]]},{"id":"3a96a2b7.866bbe","type":"debug","z":"5844c028.450a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":978.2500267028809,"y":424.50001335144043,"wires":[]},{"id":"9eeeb787.4c3c68","type":"range","z":"5844c028.450a5","minin":"-32767","maxin":"32767","minout":"-100","maxout":"100","action":"clamp","round":true,"property":"payload","name":"h1","x":1008,"y":82,"wires":[[]]},{"id":"6c998f92.56f7e","type":"range","z":"5844c028.450a5","minin":"-32767","maxin":"32767","minout":"100","maxout":"-100","action":"clamp","round":true,"property":"payload","name":"v1","x":1023.0000534057617,"y":138.00000762939453,"wires":[["953558f1.cb93f8"]]},{"id":"f327e002.ae1a8","type":"change","z":"5844c028.450a5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.h1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":835,"y":77,"wires":[["9eeeb787.4c3c68"]]},{"id":"7714a9d1.ddfe98","type":"change","z":"5844c028.450a5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.v1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":846,"y":132,"wires":[["6c998f92.56f7e"]]},{"id":"4e1e8395.0cf1fc","type":"range","z":"5844c028.450a5","minin":"-32767","maxin":"32767","minout":"-100","maxout":"100","action":"clamp","round":true,"property":"payload","name":"h2","x":1019,"y":196,"wires":[[]]},{"id":"eadf53a7.bfeb9","type":"range","z":"5844c028.450a5","minin":"-32767","maxin":"32767","minout":"100","maxout":"-100","action":"clamp","round":true,"property":"payload","name":"v2","x":1029,"y":247,"wires":[["1ac3aad9.aedbd5"]]},{"id":"1741f4c.69c620b","type":"change","z":"5844c028.450a5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.h2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":846,"y":191,"wires":[["4e1e8395.0cf1fc"]]},{"id":"88faccc7.1af12","type":"change","z":"5844c028.450a5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.v2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":857,"y":246,"wires":[["eadf53a7.bfeb9"]]},{"id":"88a77c02.cb2f5","type":"range","z":"5844c028.450a5","minin":"-32767","maxin":"32767","minout":"-100","maxout":"100","action":"clamp","round":true,"property":"payload","name":"h3","x":1036,"y":305,"wires":[[]]},{"id":"eeee73dd.7897b","type":"range","z":"5844c028.450a5","minin":"-32767","maxin":"32767","minout":"100","maxout":"-100","action":"clamp","round":true,"property":"payload","name":"v3","x":1046,"y":356,"wires":[[]]},{"id":"6662ac1.57c5d54","type":"change","z":"5844c028.450a5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.h3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":863,"y":300,"wires":[["88a77c02.cb2f5"]]},{"id":"7493eb38.c2f8d4","type":"change","z":"5844c028.450a5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.v3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":874,"y":355,"wires":[["eeee73dd.7897b"]]},{"id":"48ebf274.f329dc","type":"change","z":"5844c028.450a5","name":"a","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.a","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":843,"y":483,"wires":[[]]},{"id":"a9fe2d2b.62566","type":"change","z":"5844c028.450a5","name":"b","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.b","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":854,"y":538,"wires":[[]]},{"id":"6e36351e.d8ff8c","type":"change","z":"5844c028.450a5","name":"x","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.x","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":854,"y":597,"wires":[[]]},{"id":"78407f7f.97c8e","type":"change","z":"5844c028.450a5","name":"y","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.y","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":812.9999885559082,"y":668.9999961853027,"wires":[[]]},{"id":"1ac3aad9.aedbd5","type":"switch","z":"5844c028.450a5","name":"Forward or Backward orMiddle?","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lt","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":1258.550033569336,"y":83.50000190734863,"wires":[["405d2b0f.659014"],["8033c4ae.ad7068"],["f2429dce.2eea8"]]},{"id":"953558f1.cb93f8","type":"switch","z":"5844c028.450a5","name":"Forward orBackward orMiddle?","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lt","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":1253.2168273925781,"y":211.3333568572998,"wires":[["a3f92691.fc4fd8"],["64bafed8.602d5"],["9d3fd830.606b98"]]},{"id":"550f2ae8.db1634","type":"PCA9685out","z":"5844c028.450a5","name":"Motor1_speed","pca9685":"df983ac3.a00478","channel":"5","payload":"","unit":"percent","onStep":"0","x":2031.321933746338,"y":45.82143592834473,"wires":[]},{"id":"405d2b0f.659014","type":"function","z":"5844c028.450a5","name":"Run","func":"var speed1 = Math.abs(msg.payload/2);\n\nreturn {payload :speed1};","outputs":1,"noerr":0,"x":1481.0285110473633,"y":37.42856407165527,"wires":[["550f2ae8.db1634"]]},{"id":"f2429dce.2eea8","type":"function","z":"5844c028.450a5","name":"Stop","func":"var speed1 = 0;\nvar dir = 0;\n\nreturn [{payload : speed1},{payload :dir}];","outputs":2,"noerr":0,"x":1488.7427711486816,"y":106.99999523162842,"wires":[["550f2ae8.db1634"],["afbb254c.389758"]]},{"id":"3459ec83.f6ad74","type":"PCA9685out","z":"5844c028.450a5","name":"Motor1_direction","pca9685":"df983ac3.a00478","channel":"4","payload":"","unit":"percent","onStep":"0","x":2034.0361862182617,"y":115.53570890426636,"wires":[]},{"id":"8033c4ae.ad7068","type":"function","z":"5844c028.450a5","name":"Run","func":"var speed1 = Math.abs(msg.payload/2);\nvar dir = 100;\n\nreturn [{payload : speed1},{payload :dir}];","outputs":2,"noerr":0,"x":1485.428611755371,"y":74.57143592834473,"wires":[["ebf2cc1f.93872"],["3459ec83.f6ad74"]]},{"id":"afbb254c.389758","type":"delay","z":"5844c028.450a5","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1681.0000457763672,"y":138.63097190856934,"wires":[["3459ec83.f6ad74"]]},{"id":"5e516c82.889a24","type":"delay","z":"5844c028.450a5","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1841.5357971191406,"y":55.392860412597656,"wires":[["550f2ae8.db1634"]]},{"id":"a3f92691.fc4fd8","type":"function","z":"5844c028.450a5","name":"Run","func":"var speed1 = Math.abs(msg.payload/2);\n\nreturn {payload :speed1};","outputs":1,"noerr":0,"x":1483.55668258667,"y":194.35713386535645,"wires":[["3bfc18d9.aed968"]]},{"id":"9d3fd830.606b98","type":"function","z":"5844c028.450a5","name":"Stop","func":"var speed1 = 0;\nvar dir = 0;\n\nglobal.set(\"dir1\", false);\n\n\nreturn [{payload :speed1},{payload :dir}];","outputs":2,"noerr":0,"x":1483.5211372375488,"y":272.3452501296997,"wires":[["3bfc18d9.aed968"],["a6af1fa.63d70e"]]},{"id":"64bafed8.602d5","type":"function","z":"5844c028.450a5","name":"Run","func":"var speed1 = Math.abs(msg.payload/2);\nvar dir = 100;\n\nreturn [{payload: speed1},{payload :dir}];","outputs":2,"noerr":0,"x":1482.1233215332031,"y":234.0000057220459,"wires":[["fccf54f8.0dcb48"],["f803622b.3f175"]]},{"id":"a6af1fa.63d70e","type":"delay","z":"5844c028.450a5","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1717.5283737182617,"y":355.8095817565918,"wires":[["f803622b.3f175"]]},{"id":"4212a25a.43218c","type":"delay","z":"5844c028.450a5","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1851.601203918457,"y":217.3070468902588,"wires":[["3bfc18d9.aed968"]]},{"id":"f803622b.3f175","type":"PCA9685out","z":"5844c028.450a5","name":"Motor2_direction","pca9685":"df983ac3.a00478","channel":"6","payload":"","unit":"percent","onStep":"0","x":2009.9334564208984,"y":340.25000953674316,"wires":[]},{"id":"3bfc18d9.aed968","type":"PCA9685out","z":"5844c028.450a5","name":"Motor2_speed","pca9685":"df983ac3.a00478","channel":"7","payload":"","unit":"percent","onStep":"0","x":2019.1834564208984,"y":272.16665840148926,"wires":[]},{"id":"5e1b108f.7296b","type":"function","z":"5844c028.450a5","name":"Initvariable","func":"global.set(\"dir1\", false);\nglobal.set(\"dir2\",false);\n","outputs":0,"noerr":0,"x":1717.2500534057617,"y":485.00001335144043,"wires":[]},{"id":"38ededce.4fa432","type":"inject","z":"5844c028.450a5","name":"","topic":"","payload":"speed","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1518.2222290039062,"y":467.2221626705593,"wires":[["5e1b108f.7296b"]]},{"id":"fccf54f8.0dcb48","type":"function","z":"5844c028.450a5","name":"Check dir1","func":"var dir= true;\n\n\nif(dir !==global.get(\"dir1\"))\n{\n global.set(\"dir1\", dir);\n return [msg, null];\n}\nelse\n{\n return[null,msg];\n}\n","outputs":2,"noerr":0,"x":1664.7500457763672,"y":235.00003051757812,"wires":[["4212a25a.43218c"],["3bfc18d9.aed968"]]},{"id":"ebf2cc1f.93872","type":"function","z":"5844c028.450a5","name":"Check dir2","func":"var dir= true;\n\n\nif(dir !== global.get(\"dir2\"))\n{\nglobal.set(\"dir2\", dir);\n return [msg, null];\n}\nelse\n{\n return [null,msg];\n}\n","outputs":2,"noerr":0,"x":1651.0000457763672,"y":63.75000762939453,"wires":[["5e516c82.889a24"],["550f2ae8.db1634"]]},{"id":"df983ac3.a00478","type":"PCA9685","z":"","deviceNumber":"1","address":"64","frequency":"50"}]
